@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 224 71.4% 4.1%;
    --card: 210 40% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 210 40% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 243.4 75% 59.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220 9.1% 43.1%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 177.3 52.3% 46.5%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 243.4 75% 59.4%;
    --chart-1: 243.4 75% 59.4%;
    --chart-2: 177.3 52.3% 46.5%;
    --chart-3: 35.8 91.7% 54.5%;
    --chart-4: 340.6 82.2% 62.2%;
    --chart-5: 204 90% 50%;
    --radius: 0.5rem;
    --sidebar-background: 220 14% 97%;
    --sidebar-foreground: 224 71.4% 4.1%;
    --sidebar-primary: 243.4 75% 59.4%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 14.3% 91.9%;
    --sidebar-accent-foreground: 224 71.4% 4.1%;
    --sidebar-border: 220 13% 89%;
    --sidebar-ring: 243.4 75% 59.4%;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 243.4 75% 59.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 177.3 52.3% 46.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 243.4 75% 59.4%;
    --chart-1: 243.4 75% 59.4%;
    --chart-2: 177.3 52.3% 46.5%;
    --chart-3: 35.8 91.7% 54.5%;
    --chart-4: 340.6 82.2% 62.2%;
    --chart-5: 204 90% 50%;
    --sidebar-background: 222.2 84% 4.9%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 243.4 75% 59.4%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 243.4 75% 59.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
